{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <h1>{{ article.title }}</h1>
    <div class="article">
        <p>
            -{{ article.content }}
        </p>
        <span>postée le:{{ article.dateAdd | date("d/m/y") }}</span>
    </div>

    <div class="foot">
        <span id="separator">--------------------</span><br>
        <a href="{{ path('app_home') }}">Retour a l'accueil</a>
    </div>

{% endblock %}